## Master
[mysql]
prompt="db-master-home-promo-A \\u> "
socket                         = /tmp/mysql.sock
port                           = 3307

[mysqld]
user                           = mysql
default-storage-engine         = InnoDB
port                           = 3307
server-id                      = "{{ ansible_eth0.ipv4.address[-2:] }}"
character-set-server           = utf8
socket                         = /tmp/mysql.sock

# DATA STORAGE #
datadir                        = /usr/local/mysql/data/

# MyISAM #
key-buffer-size                = 32M
myisam-recover-options         = FORCE,BACKUP

# SAFETY #
max-allowed-packet             = 16M
max-connect-errors             = 1000000
skip-name-resolve

# BINARY LOGGING #
log-bin                        = /usr/local/mysql/data/mysql-bin
expire-logs-days               = 14
sync-binlog                    = 1
binlog_format                  = ROW

# CACHES AND LIMITS #
tmp-table-size                 = 32M
max-heap-table-size            = 32M
query-cache-type               = 0
query-cache-size               = 0
max-connections                = 800
thread-cache-size              = 80
open-files-limit               = 65535
table-definition-cache         = 4096
table-open-cache               = 4096

# INNODB #
innodb-flush-method            = O_DIRECT
innodb-log-files-in-group      = 2
innodb-log-file-size           = 256M
innodb-flush-log-at-trx-commit = 1
innodb-file-per-table          = 1
innodb-buffer-pool-size        = 12G

# LOGGING #
log-queries-not-using-indexes  = 0
slow-query-log                 = 1
slow-query-log-file            = /app/logs/mysql-slow.log
long-query-time                = 2
